<p-toolbar>
  <div class="p-toolbar-group-left">
    <b>Upcoming Events</b>
  </div>

  <div class="p-toolbar-group-right">
    <p-button icon="pi pi-search" class="mr-2"></p-button>
    <p-button icon="pi pi-calendar" styleClass="p-button-success mr-4"></p-button>
    <p-button label="New" icon="pi pi-plus" class="mr-2" (click)="show()"></p-button>
  </div>
</p-toolbar>
<div class="p-d-flex">
    <div class="p-d-flex p-mr-4" *ngFor="let event of events"><event-display [event]="event"></event-display></div>
</div>

