<p-card header="{{event.name}}">
  <ng-template pTemplate="header">
    <div *ngIf="event.type == 'Halloween Bingo'">
      <img class="images" src="../assets/images/halloween-bingo_250px.png" />
    </div>
    <div *ngIf="event.type == 'Poker'">
      <img class="images" src="../assets/images/ckc_poker.png" />
    </div>
    <div *ngIf="event.type == 'Fundraiser'">
      <img class="images" src="../assets/images/ckc_fundraiser.png" />
    </div>
    <div *ngIf="event.type == 'Santa'">
      <img class="images" src="../assets/images/ckc_santa.png" />
    </div>
  </ng-template>
  <div class="p-d-flex p-flex-column">
    <div class="p-mb-2">
      <b>Date: {{event.date | date: 'shortDate'}}</b>
    </div>
    <div class="p-mb-2">
      <b>Time: {{event.date | date: 'shortTime'}}</b>
    </div>
  </div>
  <p [style]="{minHeight: '100px'}">{{event.description}}</p>
  <ng-template pTemplate="footer">
    <p-divider></p-divider>
    
    <p-button *ngIf="!is_attending" label="Attend" icon="pi pi-check" (onClick)="onAttendEvent(event.id)"></p-button>
    <p-button *ngIf="is_attending" label="Un-attend" icon="pi pi-times"  (onClick)="onUnAttendEvent(event.id)"></p-button>
    <p-button *ngIf="user && user.role < 3" icon="pi pi-pencil" styleClass="p-button-secondary ml-1"></p-button>
    <p-button *ngIf="user && user.role < 3" icon="pi pi-trash" styleClass="p-button-danger ml-1" (onClick)="onDeleteEvent(event.id)"></p-button>
  </ng-template>
</p-card>