@import url("../node_modules/primeicons/primeicons.css");
@import url("../node_modules/primeng/resources/themes/saga-blue/theme.css");
@import url("../node_modules/primeng/resources/primeng.min.css");

#box {
  margin-left: 325px;
  margin-right: 325px;
  border-left: 5px solid;
  border-right: 5px solid;
  height: 100vh;
}
